path {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

.controls
{
    position: absolute;
    bottom: 30px;
    right: 40px;
    font-size: 30pt;
}
.controls a {
    cursor: pointer;
}
.timeEnd path {
    fill: #000;
}
.course-progression {
    position: absolute;
    left:50%;
    margin-left: -300px;
    top: 48%;
    font-size: 16pt;
}

.course-concepts circle {
    fill: #6666aa;
}

.concept text.concept-title {
    font-size: 14pt;
    dominant-baseline: middle;
}
.concept text.concept-short {
    font-size: 13pt;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: #fff;
}

/** DEPS **/
.course-dependencies path {
    stroke: #ff0000;
}
.depEnd path {
    fill: #ff0000;
    stroke: ff0000;
}