path {
    stroke: black;
    stroke-width: 1px;
    fill: none;
}

.controls
{
    position: absolute;
    bottom: 30px;
    right: 40px;
    font-size: 30pt;
}
.controls a {
    cursor: pointer;
}
.depEnd path {
    fill: #000;
}
.course-progression {
    position: absolute;
    left:35%;
    top: 48%;
    font-size: 16pt;
}

.course-concepts circle {
    fill: red;
}

.concept text {
    font-size: 14pt;
}